{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
  <center style="padding: 30px">
  <form method="get" action="" accept-charset="utf-8">
      <input type="text" name="q" />
      <input type="submit" value="Search" />
  </form>
  {% if search_query %}
      {{ search_query }}   <a href="{% url collection collection.slug %}"><img src="/static/encoder/img/Silk_cross.png" style="height: 8px"></img></a>
  {% endif %}
  </center>
  <div style="float: left; padding: 10px 0px 0px 30px">
      <h3 style='margin-left: -20px;'>Media:</h3>
      <div style="min-height: 20ex;">
      <table>
      {% for m in page.object_list %}
      <tr>
          <td style="padding-right: 1.5em">
              {% if m.video %}
              <img src="/static/encoder/img/Silk_film.png"/>
              {% else %}
              <img src="/static/encoder/img/Silk_sound.png"/>
              {% endif %}
          </td>
      <td style="padding-right: 1.5em">{{ m.encode_end_time|naturalday }}</td>
      <td style="padding-right: 1.5em">
      <a href="{{ m.get_absolute_url }}">{{ m.original_filename }}</a>
      </td>
      <td>
      {% if m.commments.count %}
      {{ m.commments.count }}
      {% endif %}
      </td>
      </tr>
      </td>
      {% endfor %}
      </table>
  </div>
      <br />

      {% ifnotequal page.paginator.num_pages 1 %}
      {% if page.has_previous %}
      {% if search_query %}
      <a style="text-decoration: none;" href="?page={{ page.previous_page_number }}&q={{ search_query }}">&larr;</a>
      {% else %}
      <a style="text-decoration: none;" href="?page={{ page.previous_page_number }}">&larr;</a>
      {% endif %}
      {% else %}
      <span style="font-size: 50%;">&larr;</span>
      {% endif %}
      {{ page.number }} / {{ page.paginator.num_pages }}
      {% if page.has_next %}
      {% if search_query %}
      <a style="text-decoration: none;" href="?page={{ page.next_page_number }}&q={{ search_query }}">&rarr;</a>
      {% else %}
      <a style="text-decoration: none;" href="?page={{ page.next_page_number }}">&rarr;</a>
      {% endif %}
      {% else %}
      <span style="font-size: 50%;">&rarr;</span>
      {% endif %}
      {% endifnotequal %}
  </div>
  <div style="float: right; padding: 10px 30px 0px 0px;">
      <h3 style='margin-left: -20px;'>Latest Comments:</h3>
      <table>
      {% for c in comments %}
      <tr>
      <td style="padding-right: 1.5em">
      {% if c.commenter.get_full_name %}
      {{ c.commenter.get_full_name }}
      {% else %}
      {{ c.commenter.username }}
      {% endif %}
      </td>
      <td>
      <a href="{{ c.media.get_absolute_url }}">
      {{ c.created_time|naturalday }}
      </a>
      </td>
      </tr>
      {% endfor %}
      <table>
  </div>
{% endblock %}
