{% extends "base.html" %}
{% load static %}

{% block content %}
  <div style="float: left;">
      <h3>Videos:</h3>
      {% for m in media %}
        <a href="{{ m.get_absolute_url }}">{{ m.original_filename }}</a> ({{ m.media_ptr.commments.count }})<br />
      {% endfor %}
  </div>
  <div style="float: right;">
      <h3>Latest Comments:</h3>
      {% for c in comments %}
      {% if c.commenter.get_full_name %}
      {{ c.commenter.get_full_name }}
      {% else %}
      {{ c.commenter.username }}
      {% endif %}
      <a href="{% url demo_video identifier=c.media.identifier %}">
      {{ c.created_time }}
      </a>
      <br />
      {% endfor %}
  </div>
{% endblock %}
