{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
  <center style="padding: 30px">
  <form method="get" action="" accept-charset="utf-8">
      <input type="text" name="q" />
      <input type="submit" value="Search" />
  </form>
  {% if search_query %}
      {{ search_query }}   <a href="{% url home %}"><img src="/static/encoder/img/Silk_cross.png" style="height: 8px"></img></a>
  {% endif %}
  </center>
  <div style="float: left; padding: 10px 0px 0px 30px;">
      <h3 style='margin-left: -20px;'>Collections:</h3>
      <table>
      {% for c in collections %}
      <tr>
          <td style="padding-right: 1.5em;"><a href="{{ c.get_absolute_url }}">{{ c.slug }}</a></td><td>{{ c.media.encoded.count }}</td>
      </tr>
      {% endfor %}
      </table>

      {% if media %}
      <h3 style='margin-left: -20px; padding-top: 30px;'>Items:</h3>
      <table>
      {% for m in media %}
      <tr>
          <td><a href="{{ m.get_absolute_url }}">{{ m.original_filename }}</a></td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}

      {% if received %}
      <h3 style='margin-left: -20px; padding-top: 30px;'>Notification Inbox:</h3>
      <table>
      {% for r in received %}
      <tr>
          <td style="padding-right: 1.5em">
              {% if r.sender.get_full_name %}
                {{ r.sender.get_full_name }}
              {% else %}
                {{ r.sender.username }}
              {% endif %}
          </td>
          <td style="padding-right: 1.5em">
              <a href="{{ r.comment.media.get_absolute_url }}">{{ r.comment.media.original_filename }}</a>
          </td>
      </tr>
      {% endfor %}
      {% endif %}
      </table>
  </div>
  <div style="float: right; padding: 10px 30px 0px 0px;">
      <h3 style='margin-left: -20px;'>Latest Comments:</h3>
      <table>
      {% for c in comments %}
      <tr>
      <td style="padding-right: 1.5em">
      {% if c.commenter.get_full_name %}
      {{ c.commenter.get_full_name }}
      {% else %}
      {{ c.commenter.username }}
      {% endif %}
      </td>
      <td style="padding-right: 1.5em">
      <a href="{{ c.media.get_absolute_url }}">
          {{ c.media.original_filename }}
      </a>
      </td>
      <td>
      {{ c.created_time|naturalday }}
      </td>
      </tr>
      {% endfor %}
      </table>

      {% if sent %}
      <h3 style='margin-left: -20px; margin-top: 30px;'>Unacknowledged Notifications:</h3>
      <table>
      {% for s in sent %}
      <tr>
          <td style="padding-right: 1.5em">
              {% if s.sender.get_full_name %}
                {{ s.sender.get_full_name }}
              {% else %}
                {{ s.sender.username }}
              {% endif %}
          </td>
          <td style="padding-right: 1.5em">
              <a href="{{ s.comment.media.get_absolute_url }}">{{ s.comment.media.original_filename }}</a>
          </td>
      </tr>
      {% endfor %}
      </table>
      {% endif %}
  </div>
{% endblock %}
