{% extends "encoder/demo/base.html" %}

{% block player %}
<div id="nonios_{{ media.identifier }}-128" style="height: 18px; display: none;">
  <a href='http://libstream.dhcp.bsu.edu/{{ media.identifier }}-128.mp3'
     style='display:block;width:719px;height:25px;'
     id='audio_player' />
  </a>
</div>
<div id="ios_{{ media.identifier }}-128" style="display: none;">
    <br />
    <audio controls>
    <source src="http://libstream.dhcp.bsu.edu/{{ media.identifier }}-128.mp3"</source>
    </audio>
</div>
<script type="text/javascript">
 $("document").ready(function() {
    load_audio_player('{{ media.identifier }}-128');
    {% if seek_time %}
    $f('player').play();
    setTimeout(function() {
      $f('player').seek({{seek_time}});
    }, (3000));
    {% endif %}
 });
</script>
{% endblock %}
