{% extends "encoder/demo/base.html" %}

{% block player %}
<div id="audio_{{ media.identifier }}-128" style="height: 18px;">
  <a href='http://libmarktest.dhcp.bsu.edu/uploads/published/{{ media.identifier }}-128.mp3'
     style='display:block;width:719px;height:25px;'
     id='audio_player' />Play locally
  </a>
</div>
<script type="text/javascript">
 $("document").ready(function() {
    playAudio('{{ media.identifier }}-128');
    {% if seek_time %}
    $f('player').play();
    setTimeout(function() {
      $f('player').seek({{seek_time}});
    }, (3000));
    {% endif %}
 });
</script>
{% endblock %}
