{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load encoder %}
{% load humanize %}

{% block javascript %}
    <script src='/static/encoder/flowplayer/flowplayer-3.2.6.min.js'></script>
    <script src='/static/encoder/flowplayer/jquery.tools.min.js'></script>
    <script src='/static/encoder/flowplayer/flowplayer.ipad-3.2.2.js'></script>
    <script src='/static/encoder/flowplayer/flowplayer.controls-3.0.2.min.js'></script>
    <script src='/static/encoder/djnco.js'></script>
    <style type="text/css">
        .errorlist {color: red;}
    </style>
{% endblock %}

{% block content %}

<div style="margin-left: 740px; min-width: 200px; position: absolute; top: 7ex;">
  {% for c in comments %}
    <div style="border: 1px solid lightgray; margin: 0 10px 8px 0;">
      <div style="background-color: #DDE8DD; font-size: 70%; border: 2px solid lightgray;" >
      <img src="/static/encoder/img/Silk_user_blue_online.png" style="height: 20px;" />
      {% ifequal c.commenter.username username %}
      <a href="{% url 'delete_comment' c.id %}">
      <img src="/static/encoder/img/Silk_cross.png" style="float: right; margin: 1px 1px 0 0; height: 8px;"/>
      </a>
      {% endifequal %}
      {% if c.commenter.get_full_name %}
        {{ c.commenter.get_full_name }}
      {% else %}
        {{ c.commenter.username }}
      {% endif %}
      |
      {{ c.created_time|naturalday }}
      </div>
      <div style="border-top: 1px solid lightgray; padding: 5px; background-color: #FAFFFA;">
        <p>{{ c.text|link_seek }}</p>
      </div>
    </div>
  {% endfor %}
  <br />
  {% if username %}
  <div style="border: 1px solid lightgray; margin: 0 10px 8px 0;">
  <div style="background-color: #DDE8DD; border: 2px solid lightgray; height: 20px; padding: 3px;" >
      Add A New Comment
  </div>
  <div style="border-top: 1px solid lightgray; padding: 5px; background-color: #FAFFFA;">
  <form style="margin-right: 10px;" action="{% url 'media_player' media.identifier %}" method="post">
      {% csrf_token %}
      {{ form.errors }}
      {% for field in comment_form %}
      {{ field.errors }}
      {{ field }}
      {% endfor %}
      <br />
      <input style="padding: 1px 3px 1px 3px;" type="submit" value="Comment" />
  </form>
  </div>
  </div>
  {% endif %}
</div>

<div style="float: left; width: 720px; position: absolute; top: 7ex;"> 
<div style="background-color: #FAFFFA; border: 1px solid lightgray;">
  <div style="background-color: #DDE8DD; font-size: 70%; padding: 3px; border: 2px solid lightgray;" >
      {{ media.original_filename }} |
      {{ media.identifier }} |
      <a href="{{ media.collection.get_absolute_url }}">{{ media.collection }}</a> |
      {{ media.encode_end_time|naturalday }}
  </div>
  {% block player %}
  {% endblock %}
  <script language="javascript"></script>
  {% if description %}
    <div style="padding: 5px 5px 5px 5px; border-top: 7px solid lightgray;">
    {{ description|safe }}
    </div>
  {% endif %}
</div>
</div>

{% endblock %}
