{% extends "encoder/demo/base.html" %}

{% block player %}
  <div id="ios_{{ media.identifier }}" style="display: none;">
    <video id='movie' preload controls>
      <source src='http://libstream.dhcp.bsu.edu/{{ media.identifier }}-600.m4v' />
    </video>
    <a href='http://libstream.dhcp.bsu.edu/{{ media.identifier }}-600.m4v' /></a>
  </div>
  <div id="nonios_{{ media.identifier }}" style="display: none; height: 480px;">
    <a href='http://libstream.dhcp.bsu.edu/{{ media.identifier }}-600.mp4' id='player' /></a>
  </div>
  <script type="text/javascript">
    $("document").ready(function() {
      $(".seeklink").click(function(event) { event.preventDefault(); });
      load_video_player('{{ media.identifier }}');
      {% if seek_time %}
       $f('player').play();
       setTimeout(function() {
         $f('player').seek({{seek_time}});
       }, (3000));
      {% endif %}
    });
 </script>
{% endblock %}
